.footer-icon {
    padding: 47px 49px !important;
    position: relative;
    width: 100%;
    max-height: 73px;
    right: 0px;
    left: 0px;
    top: 0;
}
.f_right {
    right: 79px;
    position: relative;
}