i.material-icons.position_detect {
    left: auto;
    right: 8px;
    position: absolute;
    bottom: 16px;
    width: 24px;
    height: 24px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    color: #767676;
}
    .mdc-select--outlined:not(.mdc-select--disabled) {
        background-color: #fff !important;
    }p
    .mdc-button:not(:disabled) {
        color: #fff !important;
    }
   
    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
        border-color: #ccc;
    }
    .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label--float-above {
        color: #ccc !important;
    }
    .colo-white{
        color:#fff;
    }
   
   
    .mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label,.mdc-floating-label--float-above  {
        color: #f36921;
        background-color: #fff;
        top: 13px;
        position: relative;
    }
    
    .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
        border-color: #f36921;
    }
    
    
    .mdc-select---focused.select__dropdown-icon {
        background: none !important ;
    }

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    border-bottom-color: rgba(0, 0, 0, 0.42);
}
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
    color: rgba(0, 0, 0, 0.87);
}
.mdc-select--outlined .mdc-select__native-control, .mdc-select--outlined .mdc-select__selected-text {
    padding-bottom: 0px !important;
}

button.mdc-button.mdc-button--raised.colo-white.cursor_pointer.btn2 {
    float: right;
    /* height: 14px; */
    position: relative;
}
