<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
  <div class="view view-main">
    <div class="pages navbar-through toolbar-through">
      <div data-page="index" class="page">
        <div class="page-content">
          <div class="list-block add-vender">
            <div class="section-heading">
              <div class="left lt"><a class="cursor_pointer" (click)="back()"><i class="fa fa-chevron-left">
                    Back</i></a></div>
              <h3>Modify Employee</h3>
            </div>
            <div class="clear"></div>
            <table class="tableMobilize table-striped" style="margin-top:38px;">
              <thead>
                <tr>
                  <th>Employee Name</th>
                  <th>Assignment Start</th>
                  <th>Assignment End</th>
                  <th>Employee Type</th>
                  <th>Group ID</th>
                  <th>Status</th>
                  <!-- <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!allVendore.length">
                  <td>Record not found</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <!-- <td></td> -->
                </tr>
                <tr *ngFor="let employeeList of allVendore  | paginate: { 
                  itemsPerPage: 50,
                  currentPage: p,
                  totalItems: allVendore.length }">
                  <td>{{employeeList.employee_name}}</td>
                  <td>{{employeeList.assignment_start}}</td>
                  <td>{{employeeList.assignment_end}}</td>
                  <td>{{employeeList.employee_type}}</td>
                  <td>{{employeeList.group_id}}</td>
                  <!-- <td>{{employeeList.status}}</td> -->

                  <!-- <td><a>{{employeeList.status}}</a></td> -->
                  <td><a class="cursor_pointer {{employeeList.status==1?'':'event-none'}}"
                      (click)="editEmployee(employeeList.employee_id,employeeList)">{{employeeList.status==1?'Modify':''}}</a>
                  </td>
                </tr>

                <!-- <tr>
									<td colspan="6">&nbsp;</td> -->
                <!-- <td><button style="width:100px;" class="mdc-button mdc-button--raised button button-big">Save</button> -->
                <!-- </td> -->
                <!-- <td>&nbsp;</td>
								  </tr> -->
              </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




<div class="mdc-dialog" id="blockVendor" role="alertdialog" aria-modal="true" aria-labelledby="my-dialog-title"
  aria-describedby="my-dialog-content">
  <div class="mdc-dialog__container">
    <div class="mdc-dialog__surface width-inc ">
      <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
      <h2 class="mdc-dialog__title" id="my-dialog-title">
        Modify Employee
        <i class="material-icons">
          edit
        </i>
      </h2>
      <div class="mdc-dialog__content" id="my-dialog-content">
        <!-- <span class="body_dialog"> Want to Block this vendor?</span> -->
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell--span-12">
              <form #employeeForm='ngForm'>
                <!-- <div class="col-md-4"> -->
                <!-- <div class="res">
                  <div> -->
                <!-- <input type="text" name="usrname" placeholder="Employee_ID"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Employee_ID">
                  <input type="text" id="Employee_ID" pattern="[0-9]+" #employee_id name="employee_id" class="mdc-text-field__input"
                    [(ngModel)]="modifyVendor.employee_id" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Employee_ID" class="{{employee_id.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Employee ID</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <!-- </div> -->
                <br><br>
                <!-- <div> -->
                <!-- <input type="text" name="usrname" placeholder="Employee Name"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Employee_Name">
                  <input type="text" id="Employee_Name" #employee_name name="employee_name"
                    class="mdc-text-field__input" [(ngModel)]="modifyVendor.employee_name" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Employee_Name" class="{{employee_name.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Employee Name</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
                <!-- </div> -->
                <!-- <div> -->
                <!-- <input type="text" name="usrname" placeholder="Assignment Start"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Assignment_Start">
                  <input type="text" [matDatepicker]="picker" #Assignment_Start id="Assignment_Start"
                    name="assignment_start" class="mdc-text-field__input" [max]="maxDate" [(ngModel)]="startDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker color="primary"></mat-datepicker>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Assignment_Start"
                        class="{{Assignment_Start.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Assignment
                        Start</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
                <!-- </div>
                  <div> -->
                <!-- <input type="text" name="usrname" placeholder="Assignment End"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Assignment_End">
                  <input type="text" [matDatepicker]="picker1" [max]="maxDate" #Assignment_End id="Assignment_End" name="assignment_end"
                    class="mdc-text-field__input" [(ngModel)]="endDate" required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1 color="primary"></mat-datepicker>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Assignment_End"
                        class="{{Assignment_End.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Assignment
                        End</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
                <!-- </div>
                  <div> -->
                <!-- <input type="text" name="usrname" placeholder="Employee Type"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Employee_Type">
                  <input type="text" id="Employee_Type" #employee_type name="employee_type"
                    class="mdc-text-field__input" [(ngModel)]="modifyVendor.employee_type" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Employee_Type" class="{{employee_type.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Employee Type</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
                <!-- </div>
                  <div> -->
                <!-- <input type="text" name="usrname" placeholder="Role"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Role">
                  <input type="text" id="Role" #role name="role" pattern= "[0-9]" required class="mdc-text-field__input" [(ngModel)]="modifyVendor.role">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Role" class="{{role.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Role</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
                <!-- </div>
                  <div> -->
                <!-- <input type="text" name="usrname" placeholder="Group ID"> -->
                <div class="mdc-text-field mdc-text-field--outlined new-pur-contorl Group_ID">
                  <input type="text" id="Group_ID" pattern= "[0-9]" required #group_id name="group_id" class="mdc-text-field__input" [(ngModel)]="modifyVendor.group_id">
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="Group_ID" class="{{group_id.value?'mdc-floating-label--float-above':''}} mdc-floating-label">Group ID</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div><br><br>
              </form>
            </div>
          </div>

        </div>
      </div>
      <footer class="mdc-dialog__actions">
        <button type="button" class="mdc-button mdc-dialog__button cancel-button" data-mdc-dialog-action="close"
          (click)="Cancel()">
          <span class="mdc-button__label">Cancel</span>
        </button>
        <button type="button" class="mdc-button mdc-dialog__button confirm-button" data-mdc-dialog-action="accept"
          (click)="confirm(employeeForm.value);employeeForm.reset()">
          <span class="mdc-button__label">Save</span>
        </button>
      </footer>
    </div>
  </div>
  <div class="mdc-dialog__scrim"></div>
</div>