.list-block select {
    margin-bottom: 0px;
}	
.list-block select {
    margin-bottom: 0px;
} 
table.tableMobilize td, table.tableMobilize th {
    table-layout: fixed;
}
.new-pur-contorl {
    width: 237px;
    height: 42px;
}
.mdc-select--outlined .mdc-select__native-control, .mdc-select--outlined .mdc-select__selected-tex{
    padding-bottom:0px !important;
}

/*material.io customization*/
.mdc-select--outlined:not(.mdc-select--disabled) {
    background-color: #fff !important;
}
.mdc-select--outlined:not(.mdc-select--disabled) {
    width: 100%;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    background-color: #fff;
    width:100%;
}
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: #f36921;
}

.mdc-text-field:not(.mdc-select--disabled).mdc-text-field--focused .mdc-floating-label {
    color: #f36921;
}
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #f36921;
}
.mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #f36921;
}

.mdc-select---focused.select__dropdown-icon {
    background: none !important ;
}

i.material-icons.position_detect { 
    left: auto;
    right: 8px;
    position: absolute;
    bottom: 8px;
    width: 24px;
    height: 24px;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    color: #767676;
    }
/*material.io customization end*/
.select-menu-newPO{/*width:100%;*/ background-color: #fff;}
.new-po{width:160px; float:right}
.new-po2{width:240px; float:right;}
select.select-menu-newPO {
    height: 38px;
    width: 100%;
}
.mdc-select.mdc-select--outlined .mdc-floating-label,.mdc-text-field.mdc-text-field--outlined .mdc-floating-label {
    left: 4px;
    right: initial;
    top: 12px;
}

input#tf-outlined {
    margin-bottom: 0px;
}
select#sel1 {
    width: 100%;
    background-color: #fff;
}
.mdc-select.mdc-select--outlined .mdc-floating-label--float-above,.mdc-text-field.mdc-text-field--outlined .mdc-floating-label--float-above{
    color:#f36921;
    top:18px;
    position: relative;
    top:15px;
    background-color: #fff;
}
input#tf-outlined {
    margin-bottom: 0px;
}
.mdc-notched-outline .mdc-floating-label--float-above {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}