
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>	
<div class="views">
  <div class="view view-main">
    <div class="pages navbar-through toolbar-through">
      <div data-page="index" class="page">
        <div class="page-content">	
          <div class="list-block">
                  <div class="section-heading">
                        <h3>Temple Staff Dashboard</h3>
                    </div>	
                    <div class="clear"></div>
                <div class="features-product">
                    
                  <div class="row">
                    <div class="shopbox po_bg">
                    <a href="javascript.void(0)" [routerLink]="['/purchase']">
                      <i class="fa fa-shopping-cart fa_size"></i>
                      <h3>Purchase Module</h3>
                    </a>	
                    </div>
                    <div class="shopbox im_bg">
                      <a href="javascript.void(0)" [routerLink]="['/invoice']">
                        <!-- invoice_module.html -->
                      <i class="fa fa-pencil-square-o fa_size"></i>
                      <h3>Invoice Module</h3>
                      </a>
                    </div>
                    <div class="shopbox reservation_bg">
                      <a href="javascript.void(0)" [routerLink]="['/resrvation']"> 
                          <!-- booking_tracker.html -->
                      <i class="fa fa-calendar fa_size"></i>
                      <h3>Reservation Module</h3>
                      </a>
                    </div>
                  <div class="shopbox security_bg">
                      <a href="javascript.void(0)" [routerLink]="['/employee']">
                          <!-- staff.html -->
                      <i class="fa fa-users fa_size"></i>
                      <h3>Employee Module</h3>
                      </a>  
                    </div>								
                    <div class="shopbox im_bg">
                      <a href="javascript.void(0)" [routerLink]="['/administration']">
                          <!-- security.html -->
                      <i class="fa fa-shield fa_size"></i>
                      <h3>Administration Module</h3>
                      </a>
                    </div>
                     <div class="shopbox po_bg">
                      <a href="javascript.void(0)" [routerLink]="['/tracking_dashboard']">
                          <!-- tracking_dashboard.html -->
                      <i class="fa fa-tachometer fa_size"></i>
                      <h3>Tracking Dashboard</h3>
                      </a>
                    </div>  
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>