<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
  <div class="view view-main">
    <div class="pages navbar-through toolbar-through">
      <div data-page="index" class="page">
        <div class="page-content">
          <div class="list-block">
            <div class="section-heading">
              <div class="left lt"><a class="cursor_pointer" (click)="back()"><i class="fa fa-chevron-left"> Back</i></a></div>
              <h3>Reservation Module</h3>
            </div>
            <div class="clear"></div>
            <div class="features-product">

              <div class="row">
                <div class="shopbox po_bg">
                  <a href="javascript.void(0)" [routerLink]="['pf_reservation']">
                    <i class="fa fa-calendar-check-o fa_size"></i>
                    <h3>Priest & Facility Reservation</h3>
                  </a>
                </div>

                <div class="shopbox im_bg">
                  <a href="javascript.void(0)" [routerLink]="['pf_booking_tracker']">
                    <i class="fa fa-thumb-tack fa_size"></i>
                    <h3>Priest & Facility Booking Tracker</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>