.mdc-select.mdc-select--outlined .mdc-floating-label--float-above,.mdc-text-field.mdc-text-field--outlined .mdc-floating-label--float-above{
    color:#f36921;
    background-color: #fff;
    position: relative;
    top:15px;
}
.mdc-notched-outline .mdc-floating-label--float-above {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;
}
.mdc-notched-outline .mdc-floating-label{
    position: absolute !important;
}
/*material.io customization*/
.mdc-select--outlined:not(.mdc-select--disabled) {
    background-color: #fff !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    background-color: #fff;
}
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label {
    color: #f36921;
}

.mdc-text-field:not(.mdc-select--disabled).mdc-text-field--focused .mdc-floating-label {
    color: #f36921;
}
.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #f36921;
}
.mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
    border-color: #f36921;
}