<app-header></app-header>
<div class="parentelement">
  <ngx-loading-bar [includeSpinner]="false"></ngx-loading-bar>
</div>
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
  <div class="view view-main">
    <div class="pages navbar-through toolbar-through">
      <div data-page="index" class="page">
        <div class="page-content">
          <div class="list-block">
            <div class="section-heading">
              <div class="left lt"><a class="cursor_pointer" (click)="back()"><i class="fa fa-chevron-left">
                    Back</i></a></div>
              <h3>Reset Password</h3>
            </div>
            <div class="clear"></div>
            <div class="features-product">
              <div class="row">
                <div class="register-content">
                  <!-- ngNativeValidate name="formData" id="formdata" -->
                  <form #formData="ngForm">

                    <div class="inputbox_">
                      <!-- <span>Email:</span><br> -->
                      <!-- <input type="email" name="email" placeholder="email@gmail.com"> -->
                      <div class="mdc-text-field mdc-text-field--outlined email">
                        <input type="text" required name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z.-]+\.[a-zA-Z]{2,3}$"
                          id="email" ngModel class="mdc-text-field__input" required>
                        <div class="mdc-notched-outline">
                          <div class="mdc-notched-outline__leading"></div>
                          <div class="mdc-notched-outline__notch">
                            <label for="email" class="mdc-floating-label">Email</label>
                          </div>
                          <div class="mdc-notched-outline__trailing"></div>
                        </div>
                      </div>
                    </div>

                  </form>

                  <div class="inputbox">
                    <button class="mdc-button mdc-button--raised button button-big" [disabled]="!formData.valid"
                      (click)="resetPasword(formData.value)" [disabled]="!formData.valid">
                      Reset Password
                    </button>
                    <!-- <button class="button button-big" [disabled]="!signup.valid">Sign Up</button> -->
                  </div>
                  <!-- </form> -->
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

</div>